<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Razorpay Payment</title>
    <!-- Include the Razorpay script -->
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
  </head>

  <body>
    <h1>Razorpay Payment</h1>
    <form action="/payment" method="POST">
      <!-- Include the necessary form fields -->
      <input type="hidden" name="paymentAmount" value="<%= paymentAmount %>" />
      <button type="button" onclick="payNow()">Pay Now</button>
    </form>

    <script>
      // Call the Razorpay checkout function
      function payNow() {
        var options = {
          key: "<%= process.env.RAZORPAY_KEY_ID %>",
          amount: "<%= paymentAmount * 100 %>",
          currency: "INR",
          name: "BRL",
          description: "Test Transaction",
          image: "",
          callback_url: "/paymentdone",
          handler: function (response) {
            alert(
              "Payment successful! Payment ID: " + response.razorpay_payment_id
            );
            window.location.href =
              "http://localhost:8000/views/paymentdone.ejs";
            fetch("/paymentdone", {
              method: "POST",
              headers: {
                "Content-Type": "application/json",
              },
              body: JSON.stringify({ paymentId: response.razorpay_payment_id }),
            })
              .then((response) => response.json())
              .then((data) => {
                console.log(data);
              })
              .then((result) => {
                message = "Your transaction was successful.";
                return response.json({
                  success: true,
                  redirect: true,
                  message: message,
                  url: "/paymentdone",
                });
              })
              .catch((error) => {
                console.error("Error:", error);
              });
          },
          prefill: {
            name: "<%= user.displayName %>",
            email: "<%= user.emails[0].value %>",
          },
          theme: {
            color: "#528FF0",
          },
        };
        var rzp1 = new Razorpay(options);
        rzp1.open();
      }
    </script>
  </body>
</html>
